.narvabar{
    display: flex;
    justify-content:space-around;
}
.button{
    background-color: aliceblue;
    color: red;
    border: solid;
}
.button1{
    background-color: brown;
    color: white;
    width: 100px;
    height: 100px;
}
.text{
    display: flex;
font-size: 30px;
}
.image1{
    width: 10px;
    height: 10px;
}
.body{
    display: flex;
gap: 30px;
}
#container{
    background-color:pink;
    color:black;
    
}